In [41]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
df.drop("RID",axis=1, inplace = True) #RID는 그냥 Index라서 삭제

In [42]:
df

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

In [43]:
def getEntropy(df, feature) :
    categories = np.unique(df[feature])
    entropy = 0
    for cat in categories: # 주어진 feature내의 category들에 대해
        p = len(df[df[feature]==cat])/len(df) # 전체 중 주어진 카테고리의 데이터 비율을 구한다.
        entropy -= p*np.log2(p) # entropy에 합산한다.
    return entropy

In [44]:
getEntropy(df, "class_buys_computer")
# 0.9402859586706311

0.9402859586706311

In [45]:
def getGainA(df, feature) :
    entropy = getEntropy(df, feature) # 목표변수에 대한 Entropy 를 구하기
    columns = list(df.loc[:, df.columns != feature]) # 목표변수(feature)를 제외한 나머지 변수들의 변수명을 리스트 형태로 저장
    result = {}
    entropy = getEntropy(df, feature) # target에 대한 entropy를 구한다.
    for col_name in columns: # column별로 gain을 구한다.
        info = 0
        categories = np.unique(df[col_name]) # 먼저 각 column이 가질 수 있는 value들의 리스트를 추출한다.
        for cat in categories:
            df_ = df[df[col_name]==cat] # 각 value들에 해당하는 행들만 가진 dataframe을 df_라고 한다;.
            weight = len(df_)/len(df) # 가중치를 구한다.
            info += weight*getEntropy(df_, feature) # df_에서 feature에 대한 entropy를 구하고 가중합 한다.
        result[col_name] = entropy-info # 가중합한 결과를 전체 entropy에서 빼주고 dictionary 형태로 저장한다.
        
    return(result)

In [47]:
getGainA(df, "class_buys_computer")
# [['age', 0.24674981977443933],
#  ['income', 0.02922256565895487],
#  ['student', 0.15183550136234159],
#  ['credit_rating', 0.04812703040826949]]

{'age': 0.24674981977443933,
 'income': 0.02922256565895487,
 'student': 0.15183550136234159,
 'credit_rating': 0.04812703040826949}